/*Extra small devices (portrait phones, less than 320px)*/

@media (max-width: 320px) {}


/*Extra small devices (portrait phones, less than 360px)*/

@media (max-width: 360px) {}


/*Extra small devices (portrait phones, less than 375px)*/

@media (max-width: 375px) {}


/*Extra small devices (portrait phones, less than 414px)*/

@media (max-width: 414px) {}


/*Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
    p {
        font-size: 16px !important;
        width: 100% !important;
    }
    .banner .banner_left img {
        max-width: 300px;
    }
    .banner {
        padding: 60px 0;
    }
    .front .front_inner {
        width: 100%;
        padding: 20px;
    }
    .step .step_item_2 .tep_left img {
        padding-right: 0;
        padding-left: 0;
    }
    .step .tep_left img {
        border-radius: 4px;
        padding-right: 0;
    }
    .components .step_item0 {
        width: 100%;
    }
    .common_text h2 {
        font-size: 24px;
    }
    .front h4 {
        font-size: 52px;
    }
    .front h2 {
        text-transform: uppercase;
        font-size: 24px;
    }
    .common_button a {
        font-size: 16px;
        padding: 12px 24px;
    }
    .step .tep_right h4 {
        margin-bottom: 15px;
        font-size: 18px;
    }
    header .navbar-nav {
        padding-top: 20px;
        text-align: center;
    }
    .server_step .server_single {
        padding: 40px 0px;
        text-align: center;
    }
    .server_step .server_left img {
        width: 200px;
        height: 200px;
    }
    .banner .banner_right {
        margin-left: auto;
    }
    .front h5 {
        font-size: 1rem;
    }
    .icon {
        transform: translate(-50%, -50%) rotate(90deg);
    }
    .replace-arrow {
        padding: 2rem;
    }
    .replace-image>img {
        height: 280px;
    }
}


/*// Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {
    p {
        font-size: 16px !important;
        width: 100% !important;
    }
    .banner .banner_left img {
        max-width: 300px;
    }
    .banner {
        padding: 60px 0;
    }
    .front .front_inner {
        width: 100%;
    }
    .step .step_item_2 .tep_left img {
        padding-right: 0;
        padding-left: 0;
    }
    .step .tep_left img {
        border-radius: 4px;
        padding-right: 0;
    }
    .components .step_item0 {
        width: 100%;
    }
    .common_text h2 {
        font-size: 24px;
    }
    header .navbar-nav {
        padding-top: 20px;
        text-align: center;
    }
    .server_step .server_single {
        padding: 40px 0px;
        text-align: center;
    }
    .server_step .server_left img {
        width: 200px;
        height: 200px;
    }
    .banner .banner_right {
        margin-left: auto;
    }
    .front h5 {
        font-size: 1rem;
    }
    .icon {
        transform: translate(-50%, -50%) rotate(90deg);
    }
    .replace-arrow {
        padding: 2rem;
    }
    .replace-image>img {
        height: 280px;
    }
}


/*// Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {
    p {
        font-size: 16px !important;
        width: 100% !important;
    }
    .banner .banner_left img {
        max-width: 300px;
    }
    .banner {
        padding: 60px 0;
    }
    .front .front_inner {
        width: 100%;
    }
    header .navbar-nav {
        padding-top: 20px;
        text-align: center;
    }
    .server_step .server_single {
        padding: 40px 0px;
    }
    .server_step .server_single {
        padding: 40px 0px;
        text-align: center;
    }
    .server_step .server_left img {
        width: 200px;
        height: 200px;
    }
    .banner .banner_right {
        margin-left: auto;
    }
    .front h5 {
        font-size: 1rem;
    }
}


/*// Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {}


/*// Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) and (max-width: 1439.98px) {}


/*// Extra large devices (large desktops, 1440px and up)*/

@media (min-width: 1440px) and (max-width: 1699.98px) {}


/*// Extra large devices (large desktops, 1440px and up)*/

@media (min-width: 1700px) and (max-width: 2099.98px) {}


/*// Extra large devices (large desktops, 1440px and up)*/

@media (min-width: 2100px) {}