@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

a {
    display: inline-block;
    transition: all ease .6s;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #fff;
    padding: 15px 0;
    border-bottom: 2px solid #eaeef9;
}

header .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

header .navbar-brand img {
    width: 80px;
}

header button span i {
    color: #000;
    font-size: 24px;
}

header .nav-link {
    color: #021032;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    font-size: 13px;
    transition: all ease .6s;
}

header .nav-link:hover {
    border-bottom: 2px solid #0f2f8f;
}

header .special {
    margin-left: 20px;
}

header .special a {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    background: #f38120;
    padding: 8px 13px;
    border-radius: 5px;
    display: inline-block;
    transition: all ease .6s;
}

header .special a:hover {
    opacity: .9;
    box-shadow: 0 30px 40px rgba(0, 0, 0, .1), 0 10px 30px rgba(0, 0, 0, .2);
    color: #fff;
    text-decoration: none;
}


/* header end */

.banner {}

.banner .banner_left {}

.banner .banner_left img {}

.banner .banner_right {
    margin-left: 50px;
}

.banner .banner_right h1 {}

.banner .banner_right p {
    font-size: 20px;
    margin-bottom: 0;
}

.mr-40 {
    margin-top: 40px;
}

.p1r {
    padding: 1rem;
}

.p2r {
    padding: 1rem;
}

.m1r {
    margin: 1rem;
}

.m2r {
    margin: 2rem;
}

.text-w-red {
    color: #f15a56;
}

.bg-w-red {
    background-color: #f15a56;
    border-color: #f15a56;
    color: #fff;
}

.bg-w-red:hover {
    background-color: #002d40;
    border-color: #f15a56;
    color: #fff;
}

.common_button a {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    background: #f15a56;
    padding: 12px 30px;
    border-radius: 5px;
    display: inline-block;
    transition: all ease .6s;
}

.common_button a:hover {
    background-color: #002d40;
}

.common_button__round a {
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 18px;
    background: #f15a56;
    padding: 12px 30px;
    border-radius: 25px;
    display: inline-block;
    transition: all ease .6s;
}

.common_button__round a:hover {
    background-color: #002d40;
}

.common_button__whatsapp a {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    background: #25d366;
    padding: 12px 30px;
    border-radius: 25px;
    display: inline-block;
    transition: all ease .6s;
}

.common_button__whatsapp a:hover {
    background-color: #002d40;
}

.whatsapp_icon {
    font-size: 1.5rem;
}

.btn_whatsapp_content {
    display: flex;
    align-items: center;
}

.common_button__big_sec a {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    background: #f15a56;
    padding: 16px 30px;
    border-radius: 5px;
    display: inline-block;
    transition: all ease .6s;
}

.common_button__big_sec a:hover {
    background-color: #002d40;
}

.common_button__big a {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    background: #f15a56;
    padding: 16px 30px;
    border-radius: 5px;
    display: inline-block;
    transition: all ease .6s;
}

.common_button__big a:hover {
    background-color: #002d40;
}

.banner__title {
    font-size: 30px;
}

.banner__sec__title {
    padding: .5rem 0;
}


/* banner end */

.common_text {
    margin-bottom: 40px;
}

.common_text h2 {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 15px;
}

.common_text h2::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    width: 150px;
    height: 3px;
    background: red;
    bottom: 0;
    margin: auto;
}

.front {
    padding: 60px 0;
    background: #f1e18d;
    background: -webkit-linear-gradient(to right,#eed455, #f1e18d);
    background: linear-gradient(to right,#eed455, #f1e18d);
}

.front .front_inner {
    width: 60%;
    margin: auto;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
}

.front h2 {
    text-transform: uppercase;
}

.front h4 {
    font-size: 120px;
}

.front h5 {
    font-size: 1.25rem;
}


/* front end */

.repair {
    padding: 60px 0;
}


/* repair end */

.screen {
    padding: 60px 0;
    background: #f0f0f0;
}

.screen p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.screen p:last-child {
    margin-bottom: 0;
}

.image__repair {
    position: relative;
}

.image__repair span {
    position: absolute;
    background-color: rgba(243, 129, 32, 0.7);
    margin: auto;
    top: 10px;
    left: 30px;
    padding: 10px 14px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}


/* screen end */

.components {
    padding: 60px 0;
}

.components .common_text {
    margin-bottom: 80px;
}

.components .common_text p {
    font-size: 18px;
    width: 75%;
    margin: auto;
}

.components .common_text h2 {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.components_2 {
    background: #f1f1f1;
}

.components .step_item0 {
    position: relative;
    padding: 25px 40px;
    background: #fff;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    /* width: 70%; */
    margin: auto;
    box-shadow: 0px 4px 24px 2px rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: auto 0;
}

.components .step_item0 span {
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    width: 40px;
    height: 40px;
    text-align: center;
    background: #f38120;
    border-radius: 4px;
    padding: 2px;
    font-weight: 700;
    color: #fff;
    font-size: 22px;
}

.components .step_item0 p {
    margin-bottom: 0;
}

.components .step_img0 {}

.components .step_img0 img {
    width: 400px;
    margin: 40px 0;
    border-radius: 10px;
    width: auto;
}

.components__img {
    margin: auto;
}

.component__image {
    height: 300px;
    width: 100vh;
}

.cmp_step__price {
    font-size: 80px;
}

.replace-image>img {
    height: 320px;
    width: auto;
}

.row-image-replace {
    display: flex;
    justify-content: center;
}

.replace-img-card img {
    background-color: #fff;
    padding: 1rem .5rem;
}


/*  arrow css start */

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 60px;
    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 25px;
    width: 90%;
    height: 10px;
    background-color: #f38120;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    animation: arrow 700ms linear infinite;
}

.arrow::after,
.arrow::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 10px;
    right: -8px;
    background-color: #f38120;
}

.arrow::after {
    top: -12px;
    transform: rotate(45deg);
}

.arrow::before {
    top: 12px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}


/* arrow css end */


/* components end */

.step {
    padding: 60px 0;
}

.step .step_item {
    padding: 40px 30px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    border-radius: 10px;
}

.step .common_text {}

.step .common_text h2 {
    margin-bottom: 20px;
}

.step .common_text p {
    font-size: 18px;
    max-width: 90%;
    margin: auto;
}

.step .tep_left {}

.step .tep_left img {
    border-radius: 4px;
    padding-right: 30px;
}

.step .tep_right h4 {
    margin-bottom: 20px;
}

.step .tep_right p {}

.step .tep_right p:last-child {
    margin-bottom: 0;
}

.step .step_item_2 .tep_left img {
    padding-right: 0;
    padding-left: 30px;
}

.server_step {
    padding: 60px 0;
    background: #f0f0f0;
}

.server_step .server_single {
    border-bottom: 2px dashed #f38120;
    padding: 40px 80px;
}

.server_step .server_single:last-child {
    border: none;
}

.server_step .server_left {}

.server_step .server_left img {
    height: 200px;
}

.server_step .server_left {}

.server_step .server_left h4 {
    text-align: left;
}

.server_step .server_left p {
    margin-bottom: 0;
}

.title__tag {
    font-weight: bold;
    color: red;
    font-size: 24px;
}

.title__tag__sec {
    font-weight: bold;
    color: #5b32b4;
    font-size: 24px;
}

.step__desc__container {
    margin-top: 1rem;
    text-align: justify;
}

.step__desc__container>ul>li {
    margin-bottom: 1rem;
    list-style: circle;
    margin-left: 1rem;
}

.custom__list>li {
    margin-left: 3rem;
}


/* .server_step end */


/* paypal section */

.paypal__checkout__btn {
    width: 300px;
}

.paypal__container {
    padding: 3rem 0;
}


/* end paypal section */


/* start Swiper */

.swiper__wrapper {
    margin-top: 1rem;
}

.swiper-container {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: grab;
    border-radius: 10px;
    background-color: #e0e6e8;
    background: -webkit-linear-gradient(to right,#fff, #e0e6e8);
    background: linear-gradient(to right,#fff, #e0e6e8);
    
}

.swiper-slide-alt {
    background-color: #95e0ff;
    background: -webkit-linear-gradient(to right,#41d5f7,#95e0ff);
    background: linear-gradient(to right,#41d5f7,#95e0ff);
}

.swiper__slide_container {
    text-align: center;
    border-radius: 10px;
}

.logo__swiper {
    max-width: 150px;
    padding: 1.5rem 0;
}

.swiper__divider {
    height: 3px;
    width: 2rem;
    background-color: #000;
    margin: 1.5rem auto;
}

.swiper__content {
    padding: 0.5rem 0;
    font-family: 'Montserrat', sans-serif;
}

.swiper__bold {
    font-family: 'Montserrat', sans-serif;
    padding: 1rem 0;
    font-weight: bold;
    font-size: 16px;
}

.swiper__inside_Container {
    padding: 0.25rem 1.5rem;
}

.swiper__bottom_container {
    padding: 0.5rem 1rem;
    background-color: #f38120;
    border-radius: 0 0 10px 10px;
    transition: all ease .6s;
}

.swiper__bottom_container:hover {
    background-color: #000;
}

.swiper__bottom_link {
    color: #000;
    text-decoration: none;
    color: #fff;
    transition: all ease .6s;
}

.swiper__link {
    cursor: pointer !important;
}

.swiper__bottom__icon {
    text-align: right;
    color: #fff;
}

.swiper__bottom__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* end swiper */



/* stage start */


/*  stage end */


/* accordion start */

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

#accordion .panel {
    border: none;
    border-radius: 5px;
    box-shadow: none;
    margin-bottom: 5px;
}

#accordion .panel-heading {
    padding: 0;
    border: none;
    border-radius: 5px 5px 0 0;
}

#accordion .panel-title a {
    display: block;
    padding: 20px 50px 20px 30px;
    background: #fff;
    font-size: 17px;
    font-weight: bold;
    color: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid #ea526f;
    border-radius: 5px 5px 0 0;
    position: relative;
}

#accordion .panel-title a.collapsed {
    border-color: #e0e0e0;
    border-radius: 5px;
}

#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before,
#accordion .panel-title a:after,
#accordion .panel-title a.collapsed:after {
    content: "\f103";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    background: #ea526f;
    font-size: 20px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 15px;
    right: 30px;
    opacity: 1;
    transform: scale(1);
    transition: all 0.3s ease 0s;
}

#accordion .panel-title a:after,
#accordion .panel-title a.collapsed:after {
    content: "\f101";
    background: transparent;
    color: #000;
    opacity: 0;
    transform: scale(0);
}

#accordion .panel-title a.collapsed:before {
    opacity: 0;
    transform: scale(0);
}

#accordion .panel-title a.collapsed:after {
    opacity: 1;
    transform: scale(1);
}

#accordion .panel-body {
    padding: 20px 30px;
    background: #f0ced4;
    background: -webkit-linear-gradient(to right,#f15a56, #f0ced4);
    background: linear-gradient(to right,#f15a56 #f0ced4);
    border-top: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    line-height: 28px;
    letter-spacing: 1px;
    border-radius: 0 0 5px 5px;
}


/* accordion end */


/* pricing start */

.rounded-lg {
    border-radius: 1rem !important;
  }
  
  .text-small {
    font-size: 0.9rem !important;
  }
  
  .custom-separator {
    width: 5rem;
    height: 6px;
    border-radius: 1rem;
  }
  

/* pricing end */

footer {
    background-color: #212529;
    padding: 20px 0;
}

footer p {
    color: #fff;
    font-size: 15px;
}

.footer__link {
    color: #f38120;
}

.footer__link:hover {
    color: #ccc;
}